/* Input Link Section  */

.input {
    margin: 3rem auto;
    width: 50vw
}

/* Buttons */

.link-btn {
    background: var(--clr-primary-10);
    color: var(--clr-primary-5);
    padding: 0.25rem 0.5rem;
    text-transform: capitalize;
    border-radius: var(--radius);
    transition: var(--transition);
    border-color: var(--clr-primary-5);
    cursor: pointer;
    margin: 0.5rem 0.5rem;
}

.link-btn:hover {
    background: var(--clr-primary-5);
    color: var(--clr-primary-1)
}

.order-btn {
    margin-top: 2rem;
    justify-content: center;
}

@media (max-width:600px) {
    .input {
        margin: 2rem 0 0 0.45rem;
        width: 90vw;
    }
}