
.login-container{
    display:flex;
    justify-content:center;
    width: 30%;
    box-shadow: 0 6px 16px 0 rgb(0 0 0/20%);    
}

.password-input span{
    font-size: 1rem;
    height: 100%; 
    margin-left: -0.5em; 
    background: white; 
    border-left: none;
}

.password-input-box{
    border-right:none
}

.signup-btn{
    background: var(--clr-primary-5);
    color: var(--clr-primary-1);
    width:70%
}

.line{
    border: 0;
    /* width: 33%; */
    height: 0;
    border-bottom: 2px solid #cdcdcd;
}

.signup , .social-login{
    display:flex;
    align-items:center;
}

.social-login-icons{
    display:flex;
    justify-content:space-evenly;
    margin:auto;
    text-align:center;
}

.social-login-icons img{
    width:40x;
    height:40px;
}

@media (max-width:900px) {
    .login-container{
        width:50%
    }
}
@media (max-width:500px) {
    .login-container{
        width:85%
    }
}